<div class="container">
  <div class="banner">
    <img class="card-img-top" src="https://source.unsplash.com/random/286x180" alt="Card image cap">
  </div>
  <div class="title">
    <h1><%= @flat.name %></h1>
    <p><%= @flat.description %></p>
  </div>
  <div class="description">
    <h2>A bit more about this flat ... </h2>
    <p><%= @flat.description %></p>
  </div>
  <div class="book">
    <h3>Book this place!</h3>
  </div>
</div>